<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <title>Drop my file</title>
  </head>
  <body
    x-data="global"
    x-init="session = '{{ .Session }}'"
    @dragover.prevent
    @drop="handleDrop"
  >
    <!-- Toast container -->
    <div x-show="toastContent.isOpen" class="toast">
      <div class="toast__header" x-transition>
        <button class="toast__header-button" @click="toggleToast(false)">
          x
        </button>
      </div>
      <div class="toast__body" x-text="toastContent.content" x-transition></div>
    </div>

    <!-- Upload files area -->
    <div class="upload-container">
      <h1>Select your files to transfer</h1>
      <div class="drop-area">
        <div class="drop-area__content">
          Drag & Drop files here or
          <input
            x-ref="fileInput"
            type="file"
            multiple
            @change="handleFileChange"
            style="visibility: hidden; height: 1px"
          />
          <button class="button--outline" @click="$refs.fileInput.click()">
            Select files
          </button>
        </div>
      </div>

      <div x-show="files.length > 0">
        <h2>Selected Files:</h2>
        <ul class="selected-file__list">
          <template x-for="(file, index) in files">
            <li class="selected-file__item">
              <span x-text="file.name + ' ' + formatBytes(file.size)"></span>
              <button class="remove-button" @click="files.splice(index, 1)">
                x
              </button>
            </li>
          </template>
        </ul>
        <div
          class="progress-bar"
          x-bind:style="'width:' + progress + '%'"
        ></div>
        <button class="button" @click="uploadFiles">
          <span x-show="isLoading" class="spinner"></span> Upload Files
        </button>
      </div>
    </div>

    <!-- List of files -->
    <script src="/assets/upload.js" type="text/javascript"></script>
    <script src="/assets/alpine-3-x-x.min.js" type="text/javascript"></script>
  </body>
</html>
