/* style.css */
:root {
  font-size: 62.5%;
  --color-background-primary: #5a58f2;
  --color-background-primary-highlighted: #4d4af0;
  --color-border-primary: #3b38ed;
  --color-border-primary-highlighted: #8d8bef;
  --color-background-critical: #e22c2c;
  --color-background-critical-highlighted: #d02828;
  --color-background-positive: #118850;
  --color-background-positive-faded: #f1fdf8;
  --color-background-positive-highlighted: #0f7d49;
  --color-foreground-neutral: #14181f;
  --color-foreground-neutral-faded: #5b667e;
  --color-border-neutral: #b3bbce;
  --color-border-neutral-faded: #e2e3e4;
  --color-on-background-critical: var(--white);
  --white: #fff;
  --black: #000000;

  --shadow-raised: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.1),
    0 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.1);
  --shadow-overlay: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.05),
    0 1.5rem 2.5rem 0 rgba(0, 0, 0, 0.07);
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f4f4f4;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 100rem;
  color: var(--color-foreground-neutral);
}

/* HTML elements */

h1 {
  font-size: 2.6rem;
}

form {
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.button {
  display: flex;
  gap: 0.7rem;
  font-size: 1.8rem;
  padding: 0.6rem 1.3rem;
  background-color: var(--color-background-primary);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button--outline {
  display: flex;
  gap: 0.7rem;
  font-size: 1.8rem;
  padding: 0.6rem 1.3rem;
  color: var(--color-border-primary);
  background-color: transparent;
  border: 0.2rem solid var(--color-border-primary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-background-primary-highlighted);
}

.button--outline:hover {
  color: var(--color-border-primary-highlighted);
  border-color: var(--color-border-primary-highlighted);
}

.input {
  background: none;
  border: 0.2rem solid var(--color-border-neutral);
  border-radius: 0.5rem;
  color: var(--color-foreground-neutral);
  flex-grow: 1;
  outline: none;
  padding: 0.8rem 0.8rem;
  position: relative;
  width: 100%;
  font-size: var(1.4rem);
}

.input:focus {
  border-color: var(--color-border-primary);
}

/* Components */

.toast {
  z-index: 50;
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%) translateY(2rem);
  width: 30rem;
  background-color: var(--white);
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-overlay);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.toast__header {
  position: relative;
  width: 100%;
  height: 0.6rem;
  box-shadow: inset 0 0.6rem 0 0 var(--color-background-positive);
}

.toast__header--error {
  box-shadow: inset 0 0.6rem 0 0 var(--color-background-critical);
}

.toast__header-button {
  position: absolute;
  right: 0.3rem;
  background-color: transparent;
  color: var(--color-foreground-neutral-faded);
  border: none;
  cursor: pointer;
  font-size: 1.9rem;
  outline: none;
  padding: 1rem 0.8rem 0 0.5rem;
}

.toast__body {
  padding: 1rem;
  padding-right: 2rem;
  display: flex;
  gap: 1.5rem;
}

.toast__body-icon--success {
  stroke: var(--color-background-positive);
}

.search-input {
  max-width: 30rem;
  margin: 1rem 1rem;
}

/* Sections */

.upload-container {
  margin: 0 1rem;
}

.drop-area {
  height: 12rem;
  border: 0.2rem dashed var(--color-border-neutral);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-foreground-neutral-faded);
}

.drop-area__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.selected-file__list {
  list-style-type: none;
  padding: 0;
  font-size: 1.4rem;
}

.selected-file__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
}

.remove-button {
  background-color: var(--color-background-critical);
  color: var(--color-on-background-critical);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1;
}

.file-list {
  list-style-type: none;
  padding: 0;
  border-top: 0.1rem solid var(--color-border-neutral);
  margin: 1rem;
  font-size: 1.6rem;
}

.file-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid var(--color-border-neutral);
  padding: 1rem;
}

.file-list__info {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.file-list__info-data {
  color: var(--color-foreground-neutral-faded);
  font-size: 1.4rem;
}

.file-list__download {
  stroke: var(--color-background-primary);
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Utils */

.spinner {
  transform: translateY(-50%);
  border: 0.3rem solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top: 0.3rem solid white;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
  display: inline-block;
}

.file-list__title {
  margin: 5rem 1rem 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
